body {
  margin: 2rem;
  font-family: sans-serif;
  font-size: 30px;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 20rem 20rem 20rem;
  border-radius: 25px;
}

.game {
  justify-content: center;
  padding: 5rem;
}

.square {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 0.1px solid;
}

.round-1 {
  border-radius: 2rem 0rem 0rem 0rem;
}

.round-2 {
  border-radius: 0rem 2rem 0rem 0rem;
}

.round-3 {
  border-radius: 0rem 0rem 0rem 2rem;
}

.round-4 {
  border-radius: 0rem 0rem 2rem 0rem;
}

#txtTurn {
  text-align: center;
}
